/* 
 * Hide link underscoring in the footer section for humans.txt and HTML5
 */
a.link-image {
	text-decoration: none;
}

/* 
 * Reshape the ASCII logo in the header
 */
pre.header-logo {
	background-color: #FFFFFF;
	border: none;
	font-size: 0.3em;
	line-height: 1.0em;
	margin: 0;
	padding: 0;
}

/*
 *
 */
div.blog-post {
	border: 2px;
}
