/*
 * Font family updated to Courier New
 */
body {
	font-family: "Courier New", Courier, monospace;
}

/*
 * Removes top margin from the line separating the page footer from the content section
 */
footer > hr {
	margin-top: 0;
}

/*
 * Hide link underscoring in the footer section for humans.txt and HTML5
 */
a.link-image {
	text-decoration: none;
}

/*
 * Reshape the ASCII logo in the header
 */
pre.header-logo {
	background-color: #FFFFFF;
	border: none;
	font-size: 0.3em;
	line-height: 1.0em;
	margin: 0;
	padding: 0;
}

/*
 * Message shown when there aren't any posts in a specific category
 */
div.no-content {
	margin-bottom: 20px;
	text-align: center;
}

/*
 * Lighter theme for posts
 */
article {
	background: #FAFAFA; /* #FEFCFF*/
	border: 1px solid #1B1B1B;
	border-radius: 7px;
	color: #000000;
	margin-bottom: 20px;
	-webkit-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	-moz-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
}

article > div {
	padding: 10px 10px 0;
}

.post-header,
.post-footer {
	background: #E5E4E2;
}

.post-header {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #1B1B1B;
	padding-bottom: 10px;
}

.post-header h3.post-title {
	margin: 0px;
}

.post-footer {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px dotted #1B1B1B;
}
