/*
 * Darker theme for posts
 */
article.post-dark {
	background: #111111;
	border: 1px solid #444855;
	border-radius: 7px;
	color: #989EAE;
	margin-bottom: 20px;
	-webkit-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	-moz-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
}

.post-header-dark,
.post-footer-dark {
	background: #202228;
}

.post-header-dark {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom: 1px dotted #444855;
	color: #666C7F;
}

.post-header-dark h3.post-title-dark {
	margin: 0 0 -10px;
}

.post-footer-dark {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top: 1px dotted #444855;
	color: #666C7F;
}