---
layout: default
title:  Sports
---

{% if site.categories.sports.size > 0 %}
	{% for post in site.categories.sports %}
	<article>
		<div class="post-header">
			<h3 class="post-title">{{ post.title }}</h3>
			{% assign category = post.categories[0] %}
			{% assign up_category = category | capitalize %}
			<small>Posted on {{ post.date | date_to_long_string }} under <a href="{{ site.baseurl }}{{ category }}" title="View all posts in {{ up_category }}" rel="category tag">{{ up_category }}</a>.</small>
		</div>
		<div class="post-content">
			{{ post.excerpt }}
		</div>
		<div class="post-footer">
			<div class="row">
				<div class="col-md-4">
					<p><a href="{{ post.url }}">Follow the white rabbit &raquo;</a></p>
				</div>
			</div>
		</div>
	</article>
	{% endfor %}
{% else %}
<div class="no-content">
	<p>No posts to show! Come back later!</p>
</div>
{% endif %}
