---
layout: default
---
<article>
    <div class="post-header">
        <h3 class="post-title">{{ page.title }}</h3>
        {% assign category = page.categories[0] %}
        {% assign up_category = category | capitalize %}
        <small>Posted on {{ page.date | date_to_long_string }} under <a href="{{ site.baseurl }}{{ category }}" title="View all posts in {{ category }}" rel="category tag">{{ category }}</a>.</small>
    </div>
    <div>
        {{ content }}
    </div>
    <div class="post-footer">
        {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
        <div class="row">
            <div class="col-md-2">
                <p>Share this!</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <a class="twitter-share-button" data-dnt="true" data-url="{{ url }}" data-via="GothamBeacon" href="https://twitter.com/share">Tweet</a>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ url }}"></div>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <div class="fb-like" data-href="{{ url }}" data-layout="button_count" data-send="false" data-show-faces="false"></div>
            </div>
        </div>
    </div>
</article>
